.webnews-container{
	padding: 30px;
	margin:30px;
	background-color: #fff;
	box-shadow:  2px 6px 8px 0px #ccc;
}
.webnews-title{
	font-size: 25px;
	font-weight: inherit;
}
.webnews-nav-tab a,
.webnews-description{
	font-size: 16.5px;
}
.webnews-nav-tab a.active{
	background-color: #fff;
}
.webnews-tab{
	display: none;
}
.webnews-tab.show{
	display: block;
}
.webnews-tab-wrapper{
	padding: 30px;
	margin: 20px;
}
.webnews-tab-wrapper  .webnews-tab p{
	font-size: 15px;
}
.webnews-tab-wrapper .webnews-tab h3{
	padding-top: 5px;
	font-size: 16px;
}