/**
 *
 * @package WebNews
 */

/*
	Generic
	--------------------------------------------
*/
@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo' ;
    src: url("../fonts/AppleGaramond-Italic.ttf");
}
 body{
 	font-family: 'Open Sans';
 }
 a:hover, a:focus, a:active {
	text-decoration: none;
}

.bg-collgray{
	background-color: #e7e7e7;
}
.text-collgray{
	color: #e7e7e7;
}
.bg-facebook{
	background-color: #3b5998;
}
.facebook i:hover {
  color:#3b5998;	
}

.bg-googleplus{
	background-color: #dd4b39;
}
.googleplus i:hover {
 color:#dd4b39;
}
.bg-twitter{
	background-color: #00aced;
}
.twitter i:hover {
 color:#00aced;
}
.instagram:hover {
 color:#517fa4;
}
.bg-pinterest{
	background-color: #cb2027;
}
.pinterest i:hover {
 color:#cb2027;
}
.skype i:hover {
 color:#0078ca;
}
.vimeo i:hover {
 color:#aad450;
}
.youtube i:hover {
 color:#bb0000;
}
.dribbble:hover {
 color:#ea4c89;
}
.bg-linkedin{
	background-color: #007bb6;
}
.linkedin i:hover {
 color:#007bb6;
}
.rss i:hover {
 color:#FF9900;
}

/*
	Header
	--------------------------------------------
*/
.site-header{
	background-color:#e7e7e7;
	height: 220px;
}
.headerSection{
	height: 55px;
}
.headerSectionTwo{
	height:126px;
	background:#1b4871;
}
@media (max-width:1070){
	ul,ol{margin: 0 0 0 3em;
	}}
@media (max-width: 768px) {
	.headerHidden{
		display: none;
	}
}
.site-branding{
	padding:16px 0 25px 30px;
}

.site-title a,
.site-branding{
	font-family:'FonteLogo', sans-serif;
	color: white;
}

.site-title a{
	font-size: 50px;
}

.site-description{
	font-size: 24px;
	margin-top: -25px;
}
/*
	Navigation
	--------------------------------------------
*/
.main-navigation li {
	padding-top: 8px;
	padding-right: 25px;
}
.main-navigation a{
	color: #353535;
	font-weight: 400;
	text-transform: uppercase;
}
.main-navigation a:hover{
	text-decoration-line: underline;
}
.main-navigation li .menu-item{
	background-color: #e7e7e7;
	width: 170px;
	padding: 8px;
}
@media screen and (max-width:37.5em){
	.main-navigation li{
		float: none;
		text-align: center;
		border-bottom: 1px solid #e7e7e7;
	}
}
.social-links-top{
   position: relative;
}
.social-links-top li{
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.50;
}
.social-links-top a{
	height:40px;
	width: 40px;
}
.social-links-top a{
	color: white;
	background-color: rgba(0,0,0,0.5);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding-left: 8px;
	transition: all 0.6s;
}
.social-links-top a:hover,
.social-links-top a:focus{
	background-color: rgba(255,255,255,0.5);
	transition: 0.8s;
	
}
.webnews-menu-toggle{
	padding: 0;
	margin:2px;
	border:0;
}
.fa-bars{
	font-size: 35px;
	color: #1b4871;
}

/*
	Main Banner
	------------------------------------------------------
*/

.bar-treding-two{
	display: none;
}

@media screen and (max-width:770px){
	.bar-treding-one{
		display: none;
	}
	.bar-treding-two{
		display: block;
	}
}

/*
	Featured Story
	------------------------------------------------------
*/

.moreCategory{
	padding-left: 5px;
	padding-right: 5px;
	border:1px solid #e7e7e7;
}
.moreCategory:hover{
	border: 1px solid #1b4871;
}
.featured-items{
	color: #444;
	cursor: pointer;
}
.active-item{
	border-bottom: 1px solid #444;
}
.featured-items:visited{
	color: currentColor;
}
.dropdown-item.featured-items:active,
.dropdown-item.featured-items:hover{
	background-color: #e7e7e7;
	border-bottom: none;
}
div.featured_03:nth-of-type(2){
	margin-bottom: 42px;
}
/*
	Post Meta - Widget
	-----------------------------------------------
*/

.categorys a{
	color:white;
	padding: 5px;
	font-size: 17px;
	margin-right: 10px;
	border-radius: 3px;
	font-weight: lighter;
}

.entry-meta h5 {
	font-size: 16px;
	font-weight: lighter;
}
.entry-meta i{
	padding-left: 1rem;
}
.entry-meta i:nth-of-type(1){
	padding-left: 0;
}

.entry-footer{
	padding-top: 10px;
	border-bottom: 1px solid #f3f3f3;
}
.entry-title{
	font-size: 25px;
}
.entry-title a{
		color: black;
}
.entry-title a:hover{
	color: #1b4871;
}
.page-title{
	font-size: 25px;
}
.tags-list{
	padding-bottom: 25px;
}
.tags-links a{
	color: black;
}
.share a{
	width: 80px;
}
.share i{
	font-size: 20px;
}
div.fita span{
  display: inline-block;
  width: 60px;
  height: 2.2px;
  background-color: #1b4871e6;
}

.meta-slim h5{
	position: absolute;
	top: 20px;
	left: 5%;
	right: 5%;
	font-size: 15px;
	color: white;
}
@media screen and (max-width:360px){
	.meta-slim.frontpage,
	.entry-meta.frontpage{
		display: none;
	}
}

/*
	Footer
	--------------------------------------------
*/
.site-footer{
	background-color: #e7e7e7;
}
.site-footer  ul.pages{
	margin: 0;
	padding: 0;
}
.site-footer .site-info{
	padding: 20px 50px;
	background-color: #1b4871;
}

.site-info,
.site-info a{
	text-align: left;
	color: black;
}