/**
 *
 * @package webnews
 */

/*
	Generic
	--------------------------------------------
*/
@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo' ;
    src: url("../fonts/AppleGaramond-Italic.ttf");
}
body,
button,
input,
select,
optgroup,
textarea ,
p,a{
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

 a:hover, a:focus, a:active {
	text-decoration: none;
}

.bg-collgray{
	background-color: #e7e7e7;
}
.text-collgray{
	color: #e7e7e7;
}
.bg-facebook{
	background-color: #3b5998;
}
.facebook i:hover {
  color:#3b5998;	
}

.bg-googleplus{
	background-color: #dd4b39;
}
.googleplus i:hover {
 color:#dd4b39;
}
.bg-twitter{
	background-color: #00aced;
}
.twitter i:hover {
 color:#00aced;
}
.instagram:hover {
 color:#517fa4;
}
.bg-pinterest{
	background-color: #cb2027;
}
.pinterest i:hover {
 color:#cb2027;
}
.skype i:hover {
 color:#0078ca;
}
.vimeo i:hover {
 color:#aad450;
}
.youtube i:hover {
 color:#bb0000;
}
.dribbble:hover {
 color:#ea4c89;
}
.bg-linkedin{
	background-color: #007bb6;
}
.linkedin i:hover {
 color:#007bb6;
}
.rss i:hover {
 color:#FF9900;
}
@media screen and (min-width:1200px){
.webnews-container{
	 max-width: 1300px;
 }
}

/*
	Header
	--------------------------------------------
*/
.site-header{
	background-color:#e7e7e7;
	height: 235px;
}
.headerSection{
	height: 60px;
}
.headerSectionTwo{
	height:130px;
	background:#1b4871;
}


@media (max-width: 768px) {
	.headerHidden{
		display: none;
	}
	.headerSection .topbarRight{
		margin-left: 56px !important;;
}
.headerSection .topbarLeft{
		margin-left: 40px !important;;
}
	.webnews-menu-toggle{
	margin-top: 6px;
	padding: 0;
	border:0;
}
.webnews-menu-toggle .fa-bars{
	font-size: 35px;
	color: #1b4871;
}
.main-navigation ul{
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		z-index: 4;
	  transition: 2s all;
}
.main-navigation li{
	  width: 100%;
		font-weight: 300;
		font-size: 17px;
		display: block;
		background: white;
		border-bottom: 1px solid #ccc;
		padding: 9px 0;
	}
}

.site-branding{
	padding:16px 0 25px 30px;
}

.site-title a,
.site-branding{
	font-family:'FonteLogo', sans-serif;
	color: white;
}

.site-title a{
	font-size: 50px;
}

.site-description{
	font-size: 24px;
	margin-top: -25px;
}

.topbar .mltlngg-lang-switch > li ,
.topbar .mltlngg-lang-switch > li {
	padding: 0 !important;
}
.headerSection .topbarLeft .widget{
	margin-left: -55px;
}
.headerSection .topbarLeft .widget_contactinfo{
	list-style: none;
}
.headerSection .topbar .widget li{
		padding: 0 !important;
}
.headerSection .topbarRight .widget{
	margin-left: -70px;
}

.headerSection .topbarRight .widget_contactinfo{
	list-style: none;
}

.headerSectionTwo .widget_sociallinks{
	margin-left: 135px;
	padding-top: 35px;
}
.headerSectionTwo .widget_contactinfo{
	padding-top: 20px;
	margin-left: 135px;
}
.headerSectionTwo .mltlngg_switcher {
	margin-left: 90px;
}
.headerSectionTwo .widget_contactinfo{
  list-style: none;
}
.headerSectionTwo .widget_contactinfo,
.headerSectionTwo .widget_contactinfo a{
		color: white;
}
.headerSectionTwo .widget_media_image{
  margin-top: 20px;  
	margin-left: -22px;
}

@media(max-width:640px){
.site-header{
	background-color:#e7e7e7;
	height: 290px;
}
.headerSection{
	height: 60px;
}
.headerSectionTwo{
	height:130px;
	background:#1b4871;
}

.headerSection .widget{
		text-align: left; 
}

.headerSection .topbarRight{
		margin-left: 56px !important;;
}
.headerSection .topbarLeft{
		margin-left: 40px !important;;
}
.headerSection:nth-of-type(2) {
		border-top: 2px solid #f8f8f8;
}
}
.widget-footer .social-links-top{
	margin-left: 30px;
}
/*
	Navigation
	--------------------------------------------
*/
.main-navigation li {
	padding-top: 8px;
	padding-right: 25px;
}
.main-navigation a{
	color: #353535;
	font-weight: 400;
	text-transform: uppercase;
}
.main-navigation a:hover{
	text-decoration-line: underline;
}
.main-navigation li .menu-item{
	background-color: #e7e7e7;
	width: 170px;
	padding: 8px;
}

.social-links-top{
   position: relative;
}
.social-links-top i{
	font-size: 25px;
	padding-top:  8px;
}
.social-links-top li{
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.50;
}
.social-links-top a{
	height:40px;
	width: 40px;
}
.social-links-top a{
	color: white;
	background-color: rgba(0,0,0,0.5);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding-left: 8px;
	transition: all 0.6s;
}
.social-links-top li:nth-of-type(1) {
	margin-left: -38px !important;;
}
.social-links-top a:hover,
.social-links-top a:focus{
	background-color: rgba(255,255,255,0.5);
	transition: 0.8s;
	
}


/*
	Main Banner
	------------------------------------------------------
*/

.bar-treding-two{
	display: none;
}

@media screen and (max-width:770px){
	.bar-treding-one{
		display: none;
	}
	.bar-treding-two{
		display: block;
	}
}

/*
	Featured Story
	------------------------------------------------------
*/
div.featured_03:nth-of-type(2){
	margin-bottom: 42px;
}
/*
	Post Meta - Widget
	-----------------------------------------------
*/
.title a{
	font-weight: 500;
	font-size: 18px;
}
div.categorys.simple{
	position: absolute;
	top: 10px;
	left: 25px;
}
.categorys a{
	color:white;
	padding: 4px;
	font-size: 16px;
	margin-right: 10px;
	border-radius: 3px;
	font-weight: lighter;
}

.entry-meta h5 {
	font-size: 16px;
	font-weight: lighter;
}
.entry-meta i{
	padding-left: 1rem;
}
.entry-meta i:nth-of-type(1){
	padding-left: 0;
}

.entry-footer{
	padding-top: 5px;
}
.entry-title a{
		color: black;
		font-size: 23px;
}
.entry-title a:hover{
	color: #1b4871;
}
.page-title{
	font-size: 25px;
}
.tags-list{
	padding-bottom: 25px;
}
.tags-links a{
	color: black;
}
.share a{
	width: 80px;
}
.share i{
	font-size: 20px;
}
div.fita span{
  display: inline-block;
  width: 60px;
  height: 2.2px;
  background-color: #1b4871e6;
}

.meta-slim h5{
	position: absolute;
	top: 20px;
	left: 5%;
	right: 5%;
	font-size: 15px;
	color: white;
}
@media screen and (max-width:400px){
	.categorys.frontpage{
		display: none;
	}
}
/*
	Footer
	--------------------------------------------
*/
.site-footer{
	background-color: #e7e7e7;
}
.site-footer  ul.pages{
	margin: 0;
	padding: 0;
}
.site-footer .site-info{
	padding: 20px 50px;
	background-color: #1b4871;
}

.site-info,
.site-info a{
	text-align: left;
	color: black;
}
/*
	IMG 
	-----------------------------------------------
*/
.img-center{
	display: grid;
	align-content: center;
	background-color: #57575b;
}
.img-center img{
	width: 100%;
}
.img-col-5{
	height: 450px;
}
.img-col-6{
	height: 472px;
}
.img-col-8{
	height: 634.2px;
}
.img-col-4-12{
	height: 304.2px;
}
.img-col-3-12{
	height: 228px;
}
.img-col-6-6{
	height: 228px;
	margin-bottom: 15px;
}
.img-col-6-6 img{
	max-height: 228px;
}
.img-col-3-12 img{
	max-height: 228.25px;
}
.img-col-4-12 img{
	max-height: 304.2px;
}
.img-col-5 img{
	max-height: 450px;
}
.img-col-6 img{
	max-height: 472px;
}
.img-col-8 img{
	max-height: 634.2px;
}
.col-40{
	height: 237px;
}
.col-40 img{
	max-height: 247px;
}
/*
	ARCHIVE
	------------------------------------------------------------
*/
.entry-header{
	padding-top: 5px;
}
.entry-header .categorys{
	padding-bottom: 15px;
}
.webnews-col-40,
.webnews-col-60{
	position:relative;
	width:100%;
	padding-right:15px;
	padding-left:15px
}
.webnews-col
.webnews-col-40{
	-ms-flex: 0 0 28%;
	flex: 0 0 28%;
	max-width: 28%;
}
.webnews-col
.webnews-col-60{
	-ms-flex: 0 0 72%;
	flex: 0 0 72%;
	max-width: 72%;
}

.webnews-col-40{
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}
.webnews-col-60{
	-ms-flex: 0 0 40%;
	flex: 0 0 60%;
	max-width: 60%;
}
	
}
@media (max-width: 768px) {
.webnews-col-40{
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
}
.webnews-col-60{
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
}	
}
@media (max-width: 576px) {
.webnews-col .webnews-col-60,
.webnews-col .webnews-col-40,
.webnews-col-60,
.webnews-col-40{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
}
/*
  MEDIA
------------------------------------------------------------
*/

@media (max-width: 1280px){

.img-col-8{
		height: 600px;
}
.img-col-8 img{
  max-height: 600px;
}
.img-col-4-12{
  height: 290px
}
.img-col-4-12 img{
	max-height: 290px;
}
.img-col-6{
	height: 450px;
}
.img-col-6 img{
  max-height: 450px;
}
.img-col-6-6{
	height: 210px;
}
.img-col-6-6 img{
  max-height: 210px;
}
.img-col-3-12{
		height: 210px
}
.img-col-3-12 img{
	max-height: 210px;
}
}

@media (max-width: 1080px){
	.last-container .entry-meta{
		display: none;
	}
.img-col-8{
		height: 500px;
}
.img-col-8 img{
		max-height: 500px;
}
.img-col-4-12{
  height: 238.4px
}
.img-col-4-12 img{
		max-height: 238.4px;
}
.img-col-6{
	height: 425px;
}
.img-col-6 img{
  height: 425px;
}
.img-col-6-6{
	height: 177px;
}
.img-col-6-6 img{
  max-height: 177px;
}
.img-col-3-12{
		height: 178px
}
.img-col-3-12 img{
		max-height: 178px;
}
}

@media (max-width: 1024px){
.img-col-8{
		height: 470px;
}
.img-col-8 img{
		max-height: 470px;
}
.img-col-4-12{
  height: 220px
}
.img-col-4-12 img{
		max-height: 220px;
}
.img-col-6{
	height: 485px;
}
.img-col-6 img{
  height: 400px;
}
.img-col-6-6{
	height: 165px;
}
.img-col-6-6 img{
  max-height: 165px;
}
.img-col-3-12{
		height: 167px
}
.img-col-3-12 img{
		max-height: 167px;
}
}

@media(max-width:800px){
.site-header{
		height: 350px;
}
.headerSectionTwo .headerRight{
		display: none;
}
.col-md-12,
.col-md-8,
.col-md-7,
.col-md-5,
.col-md-6,
.col-md-4,
.col-md-3{
	min-width: 100% !important;
	height: auto;
}
.last-container .entry-meta{
		display: block;
}
	.img-col-6-6 img,
	.img-col-3-12 img,
	.img-col-4-12 img{
		max-height: 500px;
	}
	
	.img-col-6-6,
	.img-col-3-12,
	.img-col-4-12{
	   height: 500px;	
	}
	
	
.headerSection .topbarRight{
		margin-left: 56px !important;;
}
.headerSection .topbarLeft{
		margin-left: 40px !important;;
}
}

@media(max-width:640px){
	.img-col-8{
		height: 435px;
	}
	.img-col-8 img{
		max-height: 435px;
	}
	.img-col-4-12{
		height: 433px;
	}
	.img-col-4-12{
		max-height: 433px;
	}
	.img-col-6{
		height: 433px;
	}
	.img-col-6{
		max-height: 433px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6{
		height: 395px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img{
		max-height: 395px;
	}
	.img-col-6-6{
		height: 447px;
	}
	.img-col-6-6 img{
		max-height: 447px;
	}
	.img-col-3-12{
		height: 446px;
	}
	.img-col-3-12{
		max-height: 446px;
	}
	.banner-03	.img-col-3-12,
	.banner-02	.img-col-3-12{
		height: 435px;
	}
	.banner-03	.img-col-3-12 img,
  .banner-02	.img-col-3-12 img{
		height: 435px;
	}
}

@media(max-width:600px){
	.site-header{
		height: 350px;
	}
	.img-col-8{
		height: 405px;
	}
	.img-col-8 img{
		max-height: 405px;
	}
	.img-col-4-12{
		height: 403px;
	}
	.img-col-4-12{
		max-height: 403px;
	}
	.img-col-6{
		height: 426px;
	}
	.img-col-6 img{
		max-height: 426px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6{
		height: 395px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img{
		max-height: 395px;
	}
	.img-col-6-6{
		height: 417px;
	}
	.img-col-6-6 img{
		max-height: 417px;
	}
	.img-col-3-12{
		height: 416px;
	}
	.img-col-3-12{
		max-height: 416px;
	}
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12{
		height: 400px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img{
		max-height: 400px;
	}
}

@media(max-width:480px){
	.site-header{
		height: 405px;
	}
	.img-col-8{
		height: 310px;
	}
	.img-col-8 img{
		max-height: 310px;
	}
	.img-col-4-12{
		height: 310px;
	}
	.img-col-4-12{
		max-height: 310px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6,
	.img-col-6{
		height: 340px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img,
	.img-col-6 img{
		max-height: 340px;
	}
	
	.img-col-6-6{
		height: 320px;
	}
	.img-col-6-6 img{
		max-height: 320px;
	}
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 325px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12{
		max-height: 325px;
	}
	.img-col-5{
		height: 325px;
	}
	.img-col-5 img{
		max-height: 325px;
	}
}

@media(max-width:414px){
	.img-col-8{
		height: 260px;
	}
	.img-col-8 img{
		max-height: 260px;
	}
	.img-col-4-12{
		height: 260px;
	}
	.img-col-4-12{
		max-height: 260px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6,
	.img-col-6{
		height: 310px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img,
	.img-col-6 img{
		max-height: 310px;
	}
	.img-col-6-6{
		height: 275px;
	}
	.img-col-6-6 img{
		max-height: 275px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 275px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12{
		max-height: 275px;
	}
		.img-col-5{
		height: 275px;
	}
	.img-col-5 img{
		max-height: 275px;
	}
}

@media(max-width:405px){
	.site-header{
		height: 350px;
	}
}

@media(max-width:384px){
	.img-col-8{
		height: 235px;
	}
	.img-col-8 img{
		max-height: 235px;
	}
	.img-col-4-12{
		height: 235px;
	}
	.img-col-4-12{
		max-height: 235px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6,
	.img-col-6{
		height: 255px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img,
	.img-col-6 img{
		max-height: 255px;
	}
	.img-col-6-6{
		height: 250px;
	}
	.img-col-6-6 img{
		max-height: 250px;
	}
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 250px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12{
		max-height: 250px;
	}
	.last-container .img-col-3-12,
	.featured-02 .img-col-3-12{
		height: 242px;
	}
	.last-container .img-col-3-12 img,
	.featured-02 .img-col-3-12 img{
		max-height: 242px;
	}
	.img-col-5{
		height: 250px;
	}
	.img-col-5 img{
		max-height: 250px;
	}
}

@media(max-width:370px){
	.site-header{
		height: 400px;
	}
}

@media(max-width:360px){
	.img-col-8{
		height: 225px;
	}
	.img-col-8 img{
		max-height: 225px;
	}
	.img-col-4-12{
		height: 225px;
	}
	.img-col-4-12{
		max-height: 225px;
	}
	.img-col-6{
		height: 235px;
	}
	.img-col-6 img{
		max-height: 235px;
	}
	.img-col-6-6{
		height: 230px;
	}
	.img-col-6-6 img{
		max-height: 230px;
	}
	.img-col-3-12{
		height: 230px;
	}
	.img-col-3-12{
		max-height: 230px;
	}
		.img-col-5{
		height: 235px;
	}
	.img-col-5 img{
		max-height: 235px;
	}
}

@media(max-width:320px){
	.entry-meta{
		display: none;
	}
  .entry-meta.frontpage{
		display: none;
	}
	.img-col-8{
		height: 190px;
	}
	.img-col-8 img{
		max-height: 190px;
	}
	.img-col-4-12{
		height: 190px;
	}
	.img-col-4-12{
		max-height: 190px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6,
	.img-col-6{
		height: 210px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img,
	.img-col-6 img{
		max-height: 210px;
	}
	.img-col-6-6{
		height: 205px;
	}
	.img-col-6-6 img{
		max-height: 205px;
	}
	.last .img-col-3-12,
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 200px;
	}
	.last .img-col-3-12 img,
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12 img{
		max-height: 200px;
	}
		.img-col-5{
		height: 205px;
	}
	.img-col-5 img{
		max-height: 205px;
	}
}

@media(max-width:300px){
	.img-col-8{
		height: 179px;
	}
	.img-col-8 img{
		max-height: 179px;
	}
	.img-col-4-12{
		height: 180px;
	}
	.img-col-4-12{
		max-height: 180px;
	}
	.img-col-6{
		height: 205px;
	}
	.img-col-6 img{
		max-height: 205px;
	}
	.img-col-6-6{
		height: 190px;
	}
	.img-col-6-6 img{
		max-height: 190px;
	}
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 190px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12{
		max-height: 190px;
	}
  	.img-col-5{
		height: 190px;
	}
	.img-col-5 img{
		max-height: 190px;
	}
}

@media(max-width:240px){
	.carousel-caption{
		bottom: 0;
	}
	.img-col-8{
		height: 130px;
	}
	.img-col-8 img{
		max-height: 130px;
	}
	.img-col-4-12{
		height: 132px;
	}
	.img-col-4-12{
		max-height: 132px;
	}
	.banner-03 .img-col-6,
	.banner-02 .img-col-6,
	.img-col-6{
		height: 150px;
	}
	.banner-03 .img-col-6 img,
	.banner-02 .img-col-6 img,
	.img-col-6 img{
		max-height: 150px;
	}
	.img-col-6-6{
		height: 145px;
	}
	.img-col-6-6 img{
		max-height: 145px;
	}
	.banner-03 .img-col-3-12,
	.banner-02 .img-col-3-12,
	.img-col-3-12{
		height: 145px;
	}
	.banner-03 .img-col-3-12 img,
	.banner-02 .img-col-3-12 img,
	.img-col-3-12{
		max-height: 145px;
	}
		.img-col-5{
		height: 148px;
	}
	.img-col-5 img{
		max-height: 148px;
	}
}


#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    background:  #1b4871;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #1b4871;
    transition: 1s all;
}
#scrollUp i{
    font-size: 25px;
    padding: 10px;
}
#scrollUp:hover {
    margin-bottom: 0;
    background-color: #fff;
    border: 2px solid #1b4871;
}
#scrollUp i:hover{
    color: #1b4871;
}
